---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<!-- <div id="wrap">  -->
<iframe       
        src="https://www.youtube.com/embed/NRsVKKc83Hs" 
        title="Kestrel test flight" 
        frameborder="0" 
        allow="accelerometer;  
               autoplay; 
               clipboard-write; 
               encrypted-media; 
               gyroscope; 
               picture-in-picture" 
        allowfullscreen>
</iframe>
<!-- </div> -->


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

