---
layout: archive
title: "About me"
permalink: /portfolio/
author_profile: true
---

<br/><img src='/images/XiaozhouFanSmirk.jpg'>

<h1>Hi, there! </h1>
  
My name is Xiaozhou (reads "Sh-howJoe"), which literally means little kayak in Chinese!  
Born and raised in the city of Chengdu in China, I like to make stuff that runs on the ground and flies in the sky since a kid!
Currently looking for a post-doc position that preferably blends in robotics and aerodynamics! Shoot me an email (xzfan@brown.edu) if you think I am good fit! 



{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

